#myImg {
    height: 400px;
    display: block;
}

.button {
    padding: 20px;
    margin: 0.5em 0;
    background: rgb(206, 58, 58);
    color: #ffffff;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

.button:hover{
    transform: scale(1.1);
    transition: transform  0.5s;
}